<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc  http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/aop  http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"
	default-autowire="byName">

	<!-- 自动搜索@Controller标注的类 -->
	<context:component-scan base-package="com.cl" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	    
	<!-- 开启自动切面代理 -->
	<aop:aspectj-autoproxy />
	
	<!-- 这是简单配置，代替bean节点那种显示加载bean的配置方式，可以自动加载必须得如下两个bean -->
	<!-- <mvc:annotation-driven /> -->
	<!-- 这是标准配置，可以解决ResponseBody中文乱码问题 -->
	<bean  class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<bean
					class="org.springframework.http.converter.StringHttpMessageConverter">
					<property name="supportedMediaTypes">
						<list>
							<value>text/plain;charset=UTF-8</value>
						</list>
					</property>
					<property name="writeAcceptCharset" value="false"/>
				</bean>
			</list>
		</property>
	</bean>	
	<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />
	
	<mvc:interceptors>
		<!-- 更改语言环境时，一个'locale'的请求参数发送  -->
		<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor" />		
		<!-- 权限拦截  -->
		<mvc:interceptor>
			<mvc:mapping path="/**/*.do" />
			<bean class="com.cl.privilege.interceptor.PrivilegeInterceptor"/>
		</mvc:interceptor>		
	</mvc:interceptors>	
	
	<!-- 通过BeanFactoryAware，手动从spring容器获取bean -->
	<!-- 已经在applicationContext.xml中定义了，这里就不用定义了 -->
	<!-- <bean class="com.cl.privilege.utils.SpringContextHolder"/> -->
</beans>



